<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<title>Burger Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">


	<!-- CSS -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Poppins" rel="stylesheet">

	<!-- FONTS -->
  <script src="https://use.fontawesome.com/ec302f0ad8.js"></script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>


  <link href="style.css" rel="stylesheet" type="text/css" />


</head>
<title> Memory Game </title>

<body>


<button class="btn-roll btn btn-success btn-lg"> Nouveau jeu </button> </br>

<div id="page"> </div>

<script src='./js/bundle.js'> </script>
</body>
</html>






















<!--
<!DOCTYPE html>
<html>
<head>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"> </script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"> </script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="style.css">
<script> console.log("page chargée !") </script>

</head>

<title> Memory Game </title>

<body>


<button class="btn-roll btn btn-success btn-lg"> Nouveau jeu </button> </br>


<span class="score"> Score du joueur 1 : </span> <span id="score-0"> 0 </span> </br>
<span class="score"> Score du joueur 2 : </span> <span id="score-1"> 0 </span> </br>

<div id="page"> </div>

<script src='./js/bundle.js'> </script>
</body>
